<div class="wrapper">
  
    <!-- Project listing --> 
    <div class="col-md-3 bg-light " style="height: 100vh;">
        <img src="../assets/images/error-img.png"  alt="" class="pl-4 thejus" style="padding: 50% 0 0 0;">
    </div>
  
    <div class="col-md-9 bg-body pt-2" >
  
      <div class="col-md-12 ">
        
        <!-- <audio #audioOption controls>
            <source type="audio/wav">
        </audio> -->
      
        <!-- Project Tabs (Body) Section -->
        <div class="row bg-primary rounded tab-height shadow">
            <!-- Header Section -->
            <div class="col-md-12 mt-2" style="height: 12vh;">
                <div class="row p-2" style="align-items: center;
                justify-content: space-between;">
                    <img src="../assets/images/error-img.png"  alt="" style="height: 70px; border-radius: 50%;" class="img-responsive p-3 ml-2 border border-default bg-white">
                    <h3 class="pl-2 pt-3 text-white">CareBot: Online Always <3</h3>
                </div>
            </div>
            <hr>
            <div class="col-md-12 bg-white" style="height: 72vh;overflow-x: scroll;" *ngIf = "chatBody">
                <!-- Bot side -->
                <div  *ngIf="startNow">
                    <div *ngFor="let msg of replies" [innerHTML]="msg" #chatBody></div>
                </div>
            </div>
            <div class="col-md-12 bg-white" *ngIf="!chatBody">
                <app-form></app-form>
            </div>
        </div>

        <div class="row button-group justify-items-center" *ngIf="fillForm">
            <button class="btn btn-success mr-2" (click)="showForm()">Sure ! :)</button>
            <button class="btn btn-secondary" (click)="formReject()">Not now</button>
        </div>
  
        <div class="row bg-success mt-3 p-3 rounded shadow" style="height: 9vh;">
            <form [formGroup]="chatForm" class="col">
                <div class="row">
                    <input type="text" formControlName="chat"  class="form-control mr-2" placeholder="Type something!" style="width: 75%;">
                    <button class="btn btn-default mr-5" (click)="sendMessage()" [disabled]="!chatForm.valid"><img src="../assets/images/send.png" height=25 alt=""></button>
                    <button class="btn btn-default mr-2" (click)="startRecording()" [disabled]="recording"><img src="../assets/images/record.PNG" height=25 alt=""></button>
                    <button class="btn btn-default" (click)="stopRecording()" [disabled]="!recording"><img src="../assets/images/stop.PNG" height=25 alt=""></button>
                </div>
            </form>
        </div>
  
      </div>

    </div>
    
</div>